#{extends 'main.html' /}
#{set title:'Solicitudes por Vehículo y Fecha' /}

<legend> Solicitudes por Vehículo y Fecha </legend>

<form class="form-horizontal" method="post" action="@{Reportes.reporteVehiculoFecha}" id="formulario">
<fieldset>
	
	<div class="form-group">
	  <label class="col-md-3 control-label" for="idVehiculo">Vehículo:</label>
	  <div class="col-md-6">
        <select name="idVehiculo" id="idVehiculo" class="form-control selectpicker" data-live-search="true" title="-- Seleccione el vehículo --">
		  		#{list items:vehiculos, as:'vehiculo'}
		  			
		  			#{if vehiculo.id==idVehiculo}
		  				<option value="${vehiculo.id}" data-subtext='${vehiculo.placa}' selected="selected">${vehiculo.descripcion}</option>
		  			#{/if}
		  			#{else}
		  				<option value="${vehiculo.id}" data-subtext='${vehiculo.placa}'>${vehiculo.descripcion}</option>
		  			#{/else}
		  		#{/list}
		 </select>
	  </div>
	  <div class="col-md-3">	    
	    <button class="btn btn-success btn-block" type="submit"> <i class="glyphicon glyphicon-search"> </i> Buscar</button>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-3 control-label" for="idVehiculo">Fecha Inicial:</label>
	  <div class="col-md-3">	    
	    <input type="text" name="fechaInicio" id="fechaInicio" class="form-control" />
	  </div>
	  <label class="col-md-3 control-label" for="idVehiculo">Fecha Final:</label>
	  <div class="col-md-3">	    
	    <input type="text" name="fechaFin" id="fechaFin" class="form-control" />
	  </div>
	</div>
	

	

</fieldset>
</form>

<br />

#{if solicitudes}
<table class="table table-striped table-hover" id="solicitudesFinalizadas">

	<!-- 
	<tr>		
		<td colspan="11">
			<a download="solicitudesFinalizadas.xls"   href="#"   onclick="return ExcellentExport.excel(this, 'solicitudesFinalizadas', 'Hoja1');" class="pull-right"> <img src="@{'/public/images/iconos/export_excel.png'}" alt="" /> Export table to Excel</a>			
		</td>	
	</tr>
	 -->
	 
	<tr>
		<th class="alert alert-warning text-center">No</th>
		<th class="alert-warning text-center">PLACA</th>
		<th class="alert-warning text-center">VEHÍCULO</th>
		<th class="alert-warning text-center">FECHA</th>
		<th class="alert-warning text-center">SOLICITANTE</th>	
		<th class="alert-warning text-center">DIRECCIÓN</th>		
		<th class="alert-warning text-center">ORIGEN</th>
		<th class="alert-warning text-center">DESTINO</th>					
		<th class="alert-warning text-center">ESTADO</th>			
		<th class="alert-warning text-center" colspan="2">OPCIONES</th>	
	</tr>
	
	#{list items:solicitudes, as:'solicitud'}
			#{if flash.nuevosolicitud}
				#{if flash.nuevosolicitud==solicitud.numero}
				 <tr class="info">
				#{/if}
				#{else}
				 <tr >
				#{/else}
			#{/if}			
				<td class="text-center">${solicitud.numero}</td>
				<td class="text-center">${solicitud.ordenMovilizacion.placa}</td>
				<td class="text-center">${solicitud.ordenMovilizacion.vehiculoAsignado}</td>
				<td class="text-center">${String.valueOf(solicitud.fecha).substring(0,10)}</td>					
				<td class="text-center">${solicitud.nombreSolicitante}</td>		
				<td class="text-center">${solicitud.direccionSolicitante}</td>		
				<td class="text-center">${solicitud.lugarOrigen}</td>			
				<td class="text-center">${solicitud.lugarDestino}</td>							
				
				#{if solicitud.estado==-1}
					<td class="text-center alert-danger">Esperando Aprobación</td>	
				#{/if}
				
				#{if solicitud.estado==0}
					<td class="text-center alert-success">Aprobada</td>	
				#{/if}
				
				#{if solicitud.estado==1}
					<td class="text-center alert-info">Finalizada</td>	
				#{/if}																		
				<td class="text-center"> <a href="@{Solicitudes.solicitudPDF(solicitud.id)}" target="_blank" class="btn btn-primary btn-circle"  data-toggle="popover"  data-html="true"   data-content="<div class='text-center'> Ver Solicitud de Salida de Vehículos </div>"  data-placement="bottom"> <i class="icon icon-print"></i></a> </td>				
				#{if conectado.perfil.descripcion=="LOGISTICA"}
					<td class="text-center">
						#{if solicitud.ordenMovilizacion.ordenCombustible}
					 	<a href="@{OrdenesCombustible.ordenPDF(solicitud.id)}" target="_blank" class="btn btn-warning btn-circle"  data-toggle="popover"  data-html="true"   data-content="<div class='text-center'> Ver Orden de Combustible</div>"  data-placement="bottom"> <i class="icon icon-print"></i></a>
					 	#{/if}	
					 	#{else}				 		
					 		<b data-toggle="popover"  data-html="true"   data-content="<div class='text-center'> Combustible no asignado</div>"  data-placement="bottom">NA</b>
					 		
					 	#{/else}			 
					 </td>	
				#{/if}															
			</tr>			
	#{/list}
</table>
#{/if}
#{else}
	
	<div class="alert alert-danger">
		<i class="glyphicon glyphicon-remove"> </i> No hay Resultados, seleccione los parámetros de la búsqueda 
	</div>


#{/else}





<script type="text/javascript">
$(document).ready(function() {

	
	
	
	$('#fechaInicio').daterangepicker({
	    singleDatePicker: true,
	    showDropdowns: true,
	    autoUpdateInput: false,
	    format:'YYYY-MM-DD'
	});

	  $('#fechaInicio').on('apply.daterangepicker', function(ev, picker) {
	      $('#fechaInicio').val(picker.startDate.format('YYYY-MM-DD'));
	  });
	
	  $('#fechaInicio').on('cancel.daterangepicker', function(ev, picker) {
	      $('input[name="fechaInicio"]').val('');
	  });
	  
	  $('#fechaInicio').val("${f1}");
	  
	  
	  
	  
	  
		$('#fechaFin').daterangepicker({
		    singleDatePicker: true,
		    showDropdowns: true,
		    autoUpdateInput: false,
		    format:'YYYY-MM-DD'
		});

		  $('#fechaFin').on('apply.daterangepicker', function(ev, picker) {
		      $('#fechaFin').val(picker.startDate.format('YYYY-MM-DD'));
		  });
		
		  $('#fechaFin').on('cancel.daterangepicker', function(ev, picker) {
		      $('input[name="fechaFin"]').val('');
		  });
		  
		  $('#fechaFin').val("${f2}");
		  
		  
  
  
  
	$("#formulario").validate({
			
			rules:{
				fechaInicio:{
					required:true,
				},
				fechaFin:{
					required:true,
				},
				idVehiculo:{
					required:true
				}
				
			},
			messages:{
			 	fechaInicio:{
					required: "Por favor indique una fecha inicial",
				},
				fechaFin:{
					required: "Por favor indique una fecha final",
				},
				idVehiculo:{
					required:"Por favor seleccione un vehículo"
				}
			},			
			errorPlacement: function (error, element) {
			    if ($(element).is('select')) {
			        element.next().after(error); // special placement for select elements
			    } else {
			        error.insertAfter(element);  // default placement for everything else
			    }
			}

	}).settings.ignore = ':not(select:hidden, input:visible, textarea:visible)';
});
</script>