#{extends 'main.html' /}
#{set title:'Historial de Solicitudes' /}

<legend>
		<b>Solicitudes Realizadas</b> 
		<span style="font-size: 12px; font-style: italic; font-weight: normal;">(El formato de fecha usado es año-mes-dia)</span> 
		
		#{if conectado.perfil.descripcion=="DIRECCION"}
			<a href="@{Solicitudes.formulario()}" class="btn btn-primary  pull-right btn-sm" ><i class="glyphicon glyphicon-plus"></i> Nuevo Solicitud</a>
		#{/if}
		
		</legend>

#{if flash.guardado}
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert" aria-label="close"> &times;</a>
	<i class="glyphicon glyphicon-ok"> </i> ${flash.guardado}
</div>
#{/if}

#{if flash.actualizado}
<div class="alert alert-success">
	<a href="#" class="close" data-dismiss="alert" aria-label="close"> &times;</a>
	<i class="glyphicon glyphicon-ok"> </i> ${flash.actualizado}
</div>
#{/if}



#{if solicitudes}
<table class="table table-striped table-hover">

	<tr>
		<th class="alert alert-warning text-center">No</th>
		<th class="alert-warning text-center">LUGAR</th>
		<th class="alert-warning text-center">FECHA</th>
		<th class="alert-warning text-center">SOLICITANTE</th>	
		<th class="alert-warning text-center">DIRECCIÓN</th>		
		<th class="alert-warning text-center">ORIGEN</th>
		<th class="alert-warning text-center">DESTINO</th>					
		<th class="alert-warning text-center">ESTADO</th>	
		#{if conectado.perfil.descripcion=="LOGISTICA"}	
			<th class="alert-warning text-center" colspan="1">OPCIONES</th>
		#{/if}
	</tr>
	
	#{list items:solicitudes, as:'solicitud'}
			#{if flash.nuevosolicitud}
				#{if flash.nuevosolicitud==solicitud.numero}
				 <tr class="info">
				#{/if}
				#{else}
				 <tr >
				#{/else}
			#{/if}			
				<td class="text-center">${solicitud.numero}</td>
				<td class="text-center">${solicitud.lugar}</td>	
				<td class="text-center">${String.valueOf(solicitud.fecha).substring(0,10)}</td>					
				<td class="text-center">${solicitud.nombreSolicitante}</td>		
				<td class="text-center">${solicitud.direccionSolicitante}</td>		
				<td class="text-center">${solicitud.lugarOrigen}</td>			
				<td class="text-center">${solicitud.lugarDestino}</td>							
				
				#{if solicitud.estado==-1}
					<td class="text-center alert-danger">Esperando Aprobación</td>	
				#{/if}
				
				#{if solicitud.estado==0}
					<td class="text-center alert-success">Aprobada</td>	
				#{/if}
				
				#{if solicitud.estado==1}
					<td class="text-center alert-info">Finalizada</td>	
				#{/if}
				#{if conectado.perfil.descripcion=="LOGISTICA"}													
					<td class="text-center"> <a href="@{Solicitudes.editarOrdenMovilizacion(solicitud.id)}" class="btn btn-warning btn-circle"  data-toggle="popover"  data-html="true"   data-content="<div class='text-center'> Editar Orden de Movilización </div>"  data-placement="bottom"> <i class="glyphicon glyphicon-edit"></i></a> </td>
				#{/if}	
													
			</tr>			
	#{/list}


</table>

#{/if}
#{else}
	<div class="alert alert-danger">	
		No hay solicitudes pendientes.
	</div>
#{/else}

<script>
	$("[data-toggle=popover]").popover({
	 	trigger:'hover'
	 });
</script>